<% include partials/header.ejs %>
<div class="jumbotron" id="indexJumbotron">
  <h1 class="display-4">Sagarika S. Vaishnavi</h1>
  <hr class="my-4">
	<a href = "/blogs/author/about">About Me</a>
</div>

	<div class = "row text-center">
			<% blogs.forEach(function(blog){%>
				<div class = "col-md-4 col-sm-6 mb-4 mt-5">
					<div class= "card h-100">
  						<img class="card-img-top" src = " <%= blog.image %> ">
  							<div class="card-body">
								<a class ="card-title mb-3" href ="/blogs/<%= blog._id %>"><%= blog.title %></a>
								<p class = "card-text mt-3" id="cardText"> <%- blog.body.substring(0,90) %>...</p>
								<a href = "/blogs/<%= blog._id %>" class = "btn btn-dark mt-3">Read More</a>
							</div>
		    		</div>
	    		</div>
				<%}); %>	
	</div>

<% include partials/footer.ejs %>
