<%include partials/header%>

<div class="container mt-5" id="showJumbotron">
	<div class="jumbotron">
  	
	<img class="img-fluid" src="<%= blog.image %>">
	
	<h3><%= blog.title %></h3>
		
	<p><%= blog.created.toDateString() %></p>	
  	
	<h4 class="mb-5"><%- blog.body %></h4>
	
	<a class = "btn btn-info mr-3" href = "/blogs/<%= blog.id %>/edit">Edit</a>
	
	<form id ="delete" action ="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
		
			<button class="btn btn-danger">Delete</button>
		
	</form> 
		<div class="mt-3">
			<a class="form-group" href="/">Go back</a>		
		</div>
</div>
</div>
<%include partials/footer%>